:root {
    --bg-color: #000000;
    --text-color: #ffffff;
    --accent-color: #f2f2f2;
    --gray-muted: #888888;
    --nous-cyan: #00FFFF; 
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    background-color: var(--bg-color);
    color: var(--text-color);
    font-family: 'Inter', sans-serif;
    line-height: 1.4;
    letter-spacing: -0.02em;
}

.container {
    max-width: 1100px;
    margin: auto;
    padding: 80px 20px;
}

.logo-link {
    text-decoration: none;
    color: inherit;
}

h1 {
    font-weight: 900;
    font-size: 8vw;
    line-height: 0.9;
    margin-bottom: 20px;
    text-transform: uppercase;
}

h1 span {
    color: var(--nous-cyan);
    text-shadow: 0 0 15px rgba(0, 255, 255, 0.3);
}

/* Estilo base para todos los h2: Blanco */
h2 {
    font-weight: 700;
    font-size: 2.5rem;
    margin-bottom: 30px;
    text-transform: uppercase;
    color: #ffffff; /* Color base blanco */
}

/* Solo si hay un span dentro del h2, se pinta de cian */
h2 span {
    color: var(--nous-cyan);
}

.section-label {
    display: none;
}

p {
    font-size: 1.2rem;
    font-weight: 300;
    max-width: 700px;
    margin-bottom: 20px;
}

header {
    padding: 30px 20px;
    position: fixed;
    width: 100%;
    z-index: 100;
    background: rgba(0,0,0,0.8);
    backdrop-filter: blur(10px);
}

.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: auto;
}

.logo {
    font-weight: 900;
    letter-spacing: 2px;
}

.logo span { color: var(--nous-cyan); font-weight: 700; }

nav ul { display: flex; list-style: none; }

nav ul li a {
    color: var(--text-color);
    text-decoration: none;
    font-size: 0.8rem;
    font-weight: 700;
    margin-left: 30px;
    transition: 0.3s;
}

nav ul li a:hover {
    color: var(--nous-cyan);
}

#hero {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px;
    width: 100%;
}

.tagline {
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 0.2em;
    color: var(--accent-color);
    font-size: 1rem;
    width: 100%;
    max-width: 900px;
    margin: 10px auto 0 auto;
}

.dark { background-color: #0a0a0a; }

.artist-grid ul {
    list-style: none;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
}

.artist-grid li {
    font-size: 1.5rem;
    font-weight: 700;
    border-bottom: 1px solid #333;
    padding-bottom: 10px;
    transition: 0.3s;
}

.artist-grid li:hover {
    color: var(--nous-cyan);
    border-color: var(--nous-cyan);
}

footer {
    padding: 40px;
    text-align: center;
    font-size: 0.7rem;
    color: var(--gray-muted);
    border-top: 1px solid #222;
}

@media (max-width: 768px) {
    h1 { font-size: 15vw; }
    h2 { font-size: 1.8rem; }
    .artist-grid ul { grid-template-columns: 1fr; }
}